In [1]:
# Set directory to store-sales-time-series-forecasting
import os
import pandas as pd
import numpy as np


from sklearn.metrics import r2_score, median_absolute_error, mean_absolute_error
from sklearn.metrics import median_absolute_error, mean_squared_error, mean_squared_log_error

import statsmodels.tsa.api as smt
import statsmodels.api as sm

from tqdm import tqdm_notebook

from itertools import product

def mean_absolute_percentage_error(y_true, y_pred):
    return np.mean(np.abs((y_true - y_pred) / y_true)) * 100

In [2]:
import statsmodels
import matplotlib.pyplot as plt

import statsmodels.tsa.api as smt
import statsmodels.api as sm

In [61]:
#import train and test data
train = pd.read_csv('./store-sales-time-series-forecasting/train.csv', index_col=['date'], parse_dates=['date'])
test = pd.read_csv('./store-sales-time-series-forecasting/test.csv')

#import stores data
stores = pd.read_csv('./store-sales-time-series-forecasting/stores.csv')

#import holidays data
holidays = pd.read_csv('./store-sales-time-series-forecasting/holidays_events.csv')

#import oil data
oil = pd.read_csv('./store-sales-time-series-forecasting/oil.csv')

#import transactions data
transactions = pd.read_csv('./store-sales-time-series-forecasting/transactions.csv')

In [62]:
train.head()

            id  store_nbr      family  sales  onpromotion
date
2013-01-01   0          1  AUTOMOTIVE    0.0            0
2013-01-01   1          1   BABY CARE    0.0            0
2013-01-01   2          1      BEAUTY    0.0            0
2013-01-01   3          1   BEVERAGES    0.0            0
2013-01-01   4          1       BOOKS    0.0            0

In [63]:
train['family'].unique()

array(['AUTOMOTIVE', 'BABY CARE', 'BEAUTY', 'BEVERAGES', 'BOOKS',
       'BREAD/BAKERY', 'CELEBRATION', 'CLEANING', 'DAIRY', 'DELI', 'EGGS',
       'FROZEN FOODS', 'GROCERY I', 'GROCERY II', 'HARDWARE',
       'HOME AND KITCHEN I', 'HOME AND KITCHEN II', 'HOME APPLIANCES',
       'HOME CARE', 'LADIESWEAR', 'LAWN AND GARDEN', 'LINGERIE',
       'LIQUOR,WINE,BEER', 'MAGAZINES', 'MEATS', 'PERSONAL CARE',
       'PET SUPPLIES', 'PLAYERS AND ELECTRONICS', 'POULTRY',
       'PREPARED FOODS', 'PRODUCE', 'SCHOOL AND OFFICE SUPPLIES',
       'SEAFOOD'], dtype=object)

In [64]:

train[(train['store_nbr'] == 1) & (train['family'] == 'AUTOMOTIVE')]['sales'].sum() / train['sales'].sum()

5.099451162850026e-06

In [65]:
len(train['store_nbr'].unique())*len(train['family'].unique())

1782

In [66]:

proportion = train.groupby(['store_nbr', 'family'])['sales'].sum().to_frame().reset_index()

In [67]:
proportion['sales'] = proportion['sales'] / sum(train['sales'])

In [68]:
len(proportion)

1782

In [69]:
train = pd.merge(train, proportion, how='left', on=['store_nbr', 'family'])

In [70]:
train = train.rename(columns={'sales_x': 'sales', 'sales_y': 'proportion_final'})

In [71]:
train.head()

   id  store_nbr      family  sales  onpromotion  proportion_final
0   0          1  AUTOMOTIVE    0.0            0      5.099451e-06
1   1          1   BABY CARE    0.0            0      0.000000e+00
2   2          1      BEAUTY    0.0            0      3.777785e-06
3   3          1   BEVERAGES    0.0            0      2.490366e-03
4   4          1       BOOKS    0.0            0      1.965268e-07